* {
  margin: 0;
  padding: 0;
  outline: none;
}

.app-wrapper {
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: Fira Code, monospace;
  background-color: black;
  width: 100%;
  height: 100%;
}

.tray-wrapper {
  height: 22px;
  display: flex;
  flex-direction: row;
  background-color: gray;
}

.tray-left {
  display: flex;
  flex: 1;
}

.tray-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.tray-menu {
  margin: 0 5px;
  padding: 0 10px;
  background-color: white;
}

.tray-menu-icon {
  background-color: white;
}

.tray-menu-items-wrapper {
  z-index: 5;
  top: 22px;
  left: 0px;
  width: 170px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: darkgray;
}

.tray-menu-delimiter {
  z-index: 5;
  height: 1px;
  width: 100%;
  background-color: black;
}

.tray-menu-item {
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: flex-start;
  display: flex;
}

.tray-menu-item:hover {
  background-color: gray;
}

.tray-icon {
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  background-color: darkgrey;
  justify-content: center;
  display: flex;
  min-width: 90px;
}

.tray-pad {
  color: white;
  padding-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: darkgrey;
  display: flex;
  justify-content: flex-start;
  min-width: 150px;
}

.tray-pad:hover {
  opacity: 0.7;
}

.tray-pad__is-active {
  color: white;
  background-color: blue;
}

.datetime-widget-wrapper {
  z-index: 1;
  top: 10em;
  left: 4em;
  line-height: 0.8;
  color: white;
  display: flex;
  position: absolute;
  align-items: center;
}

.datetime-widget-time {
  font-size: 5em;
  padding-right: 0.2em;
}

.datetime-widget-date-wrapper {
  display: flex;
  flex-direction: column;
}

.datetime-widget-date-top {
  display: flex;
  justify-content: space-between;
}

.datetime-widget-date-large {
  font-size: 3em;
}

.datetime-widget-date-medium {
  font-size: 0.8em;
}

.distro-wrapper {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -143px;
  margin-left: -134px;
  font-size: 0.7em;
}

.distro-content {
  white-space: pre-wrap;
  max-width: 269;
  min-height: 285;
}

.terminal-wrapper {
  z-index: 2;
  align-self: flex-end;
  position: absolute;
  top: 5em;
  color: green;
}

.terminal-view {
  margin: 0;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid grey;
  border-radius: .25rem;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.25);
  height: 500px;
  max-width: 600px;
  min-width: 500px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.terminal-lines-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  align-self: flex-start;
  overflow: scroll;
  width: 100%;
}

.terminal-line {
  color: green;
  margin-top: 0.15rem;
}

.terminal-active-line-wrapper {
  width: 100%;
  margin: 0;
}

.terminal-activeline-label {
  height: calc(12px + 0.25vw);
}

.terminal-activeline-input {
  font-family: inherit;
  border: none;
  color: green;
  /* the same as app wrapper background color */
  background-color: black;
  font-size: calc(12px + 0.25vw);
  outline: none;
  width: 90%;
}
